.LoginSignUpContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    top: 0%;
    left: 0;
  }
  
 .file-input{
    padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid teal;
  border-radius: 4px;
  font-family: cursive;
  outline: none;
 }
  
  
  .auth-card{
    border: 0.5px solid teal;
    transition: all 0.5s;
}
.auth-card:hover{
  transform: translateY(-10px);
}
